# Generated Xyce decks and measure outputs -- regenerable from the committed scripts.
# The scripts and the result JSONs are tracked; these intermediates are not.
*.cir.mt*
*.cir.prn
*.cir.res
bg_*.cir
bn_*.cir
dv*_*.cir
fbb*.cir
hg_*.cir
hold_*.cir
iso*.cir
lc_*.cir
sp_*.cir
pt_*.cir
ce_*.cir
ecrl_*.cir
settle_trace.cir
logic_check*.cir
cal*.cir
diag_*.cir
nk.cir
nand.cir
inline_test.cir
mc_th22_energy.cir
bnf_*.cir
bs_*.cir
qal_a3_*.cir
*.log
swsweep/*.cir
swsweep/*.prn
swsweep/__pycache__/
zcd/*.cir
zcd/*.prn
timer/*.cir
timer/*.prn
timer/*.log
timer/__pycache__/
sar/*.cir
sar/*.prn
sar/*.log
sar/__pycache__/
recov/*.cir
recov/*.prn
recov/*.log
recov/*.mt0
recov/__pycache__/
recov/*/*.cir
recov/*/*.prn
recov/*/*.log
recov/*/*.mt0
park/*.cir
park/*.prn
park/*.log
park/*.mt0
park/__pycache__/
amp/*.cir
amp/*.prn
amp/*.log
amp/*.mt0
amp/__pycache__/
bound/*.cir
bound/*.prn
bound/*.log
bound/*.mt0
lsweep/*.cir
lsweep/*.prn
lsweep/*.log
lsweep/*.mt0
skept/*.cir
skept/*.prn
skept/*.log
skept/*.mt0
chain3/*.cir
chain3/*.prn
chain3/*.log
chain3/*.mt0
**/__pycache__/
skip4/*.cir
skip4/*.prn
skip4/*.log
skip4/*.mt0
skip4v/*.cir
skip4v/*.prn
skip4v/*.log
skip4v/*.mt0
skiptu/*.cir
skiptu/*.prn
skiptu/*.log
skiptu/*.mt0
restk/*.cir
restk/*.prn
restk/*.log
restk/*.mt0
dvopt/*.cir
dvopt/*.prn
dvopt/*.log
dvopt/*.mt0
restore5/*.cir
restore5/*.prn
restore5/*.log
restore5/*.mt0
ptu/*.cir
ptu/*.prn
ptu/*.log
ptu/*.mt0
vtreq/*.cir
vtreq/*.prn
vtreq/*.log
vtreq/*.mt0
banktank/*.cir
banktank/*.prn
banktank/*.log
banktank/*.mt0
buckfix/*.cir
buckfix/*.prn
buckfix/*.log
buckfix/*.mt0
buckskep/*.cir
buckskep/*.prn
buckskep/*.log
buckskep/*.mt0
ptusk/*.cir
ptusk/*.prn
ptusk/*.log
ptusk/*.mt0
